<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "Ru.casino.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>casino.ru</name>

    <description>
        Крупнейшая база обзоров онлайн-казино.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/278d74e686c7a31c84fd5ac4c8bd7560.png" density="ldpi" />
        <icon src="res/android/icon/41e366044bd5912ca68d1e82e8c89b66.png" density="mdpi" />
        <icon src="res/android/icon/b5173d8a645d3e0e16ff2f396494b53f.png" density="hdpi" />
        <icon src="res/android/icon/ea68342dc89784c7153e38f3b21eb753.png" density="xhdpi" />
        <icon src="res/android/icon/4eda0a8f68dae4a4545fa79bd6c22189.png" density="xxhdpi" />
        <icon src="res/android/icon/7f684f16d8381126f7b512276ecbdd0a.png" density="xxxhdpi" />

        <splash src="res/android/screen/d755bd82fc9b14b05b021edeac899ea9.png" density="port-hdpi"/>
        <splash src="res/android/screen/88dbdbea159ff488a6bceaa6887e77fd.png" density="port-ldpi"/>
        <splash src="res/android/screen/dbdb6ddb1c31705037a9222d05449e49.png" density="port-mdpi"/>
        <splash src="res/android/screen/981ff67cbea4bc38ea1408d4b0d12f43.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/b865b8b411533cef83788435a7448a3a.png" width="180" height="180" />
        <icon src="res/ios/icon/c87807d7bd058ecee6e5fd96c5ca9c21.png" width="60" height="60" />
        <icon src="res/ios/icon/c7f5fe33aace1ffc9efa2ac247df3ed5.png" width="120" height="120" />
        <icon src="res/ios/icon/f2efe898d96e28fc91bb0859d8026eb0.png" width="76" height="76" />
        <icon src="res/ios/icon/c5b6cbab6dbdb82d3f3f7d1c159c8b7a.png" width="152" height="152" />
        <icon src="res/ios/icon/802a11a926bbea1ddc8496aa6259d4ea.png" width="57" height="57" />
        <icon src="res/ios/icon/2c09af6e8ac9189863672968ea2c36bf.png" width="114" height="114" />
        <icon src="res/ios/icon/7a84eef10b00270898e9bbed9a0f8b72.png" width="72" height="72" />
        <icon src="res/ios/icon/16635e66c270443dc975ad9e48f9dcf2.png" width="144" height="144" />
        <icon src="res/ios/icon/d606fb9ddf7f92eb928e88ab42b1397e.png" width="167" height="167" />
        <icon src="res/ios/icon/2d07175a6488d9a2fd140ef8e34d0e86.png" width="29" height="29" />
        <icon src="res/ios/icon/932f84362fbc178ef6649f1c7a62c0d7.png" width="58" height="58" />
        <icon src="res/ios/icon/04b9b3af91004854e472adf8ae0cc2e2.png" width="87" height="87" />
        <icon src="res/ios/icon/3d6bfd1b15fe7fda220c671f1ba48b47.png" width="167" height="167" />

        <splash src="res/ios/screen/c36b5b9ee838de023b96e92ffeb0fe8e.png" />
        <splash src="res/ios/screen/0b39508561e32ba96f61b37f39a0c1de.png" />
        <splash src="res/ios/screen/051f935b9842af1aecc842845f4220d4.png" />
        <splash src="res/ios/screen/8cf83d28ada3612737de5d871c359c04.png" />
        <splash src="res/ios/screen/78a040f93d252e95cd44413d8a7c2295.png" />
        <splash src="res/ios/screen/67b0bcd3b8a4c1534f605fe233898452.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/b3c6b3c976d705a3c2c74ba9b82a2203.png" target="StoreLogo" />
        <icon src="res/windows/icon/309eca449f53e51dc59aab3678f6649c.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/23ef89204848156bd95db2177b4765e3.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/58e22f4e99f3fa671f15538c957e26cb.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/7282538b337287ef485b19b8411e5895.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/42cdaa801ddd021e019f7db22ef38f45.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/eddbffbc6382fcce28e7f0a3b10669df.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/bd566c92fd553ddbbc01e5eeceeb247d.png" target="SplashScreen"/>
        <splash src="res/windows/screen/157da834455c5079760f354d0cb67997.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>